.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  user-select: none;
  background: rgb(72, 193, 209);
  border-radius: 8px;
  box-shadow: 0 0 3px 0 lightgray;
  margin: 2px 0;
  cursor: pointer;

  transition: background 0.5s;
}

.todo:hover {
  background: rgb(72, 207, 224);
}

.todo.complete {
  background: rgb(182, 182, 182);

  transition: background 0.5s;
}

.todo.complete:hover {
  background: rgb(187, 187, 187);
}

.todo-title {
  color: white;
  flex-grow: 500;
}

.todo-title.complete {
  color: darkslategray;
  text-decoration: line-through;
  font-style: italic;
  flex-grow: 500;
}

.todo-delete-btn {
  display: flex;
  flex-shrink: 500;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: color 0.1s;
  transition: font-size 0.1s;
}

.todo-delete-btn:hover {
  color: red;
  font-size: 20px;
}

.toggle-complete-btn {
  border-radius: 50%;
  border: 4px solid greenyellow;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  cursor: pointer;
  margin: 0 10px;
  transition: background 0.1s;
  outline: none;
  
}

.toggle-complete-btn:hover {
  background: greenyellow;
  box-shadow: 0 0 5px 0 gray;
}

.toggle-complete-btn.complete {
  border: 1px solid rgb(75, 100, 26);
  background: rgb(75, 100, 26);
}

.toggle-complete-btn.complete:hover {
  background: lightcoral;
}